.profile-wrapper {
  max-width: 650px;
  margin: 32px auto;
  padding: 18px 24px;
  box-shadow: 0 4px 6px 2px rgba(0,0,0,0.1);
  background-color: #fff;

  h1 {
    text-align: center;
    margin-bottom: 1em;
  }

  .loading {
    text-align: center;
  }

  .underline {
    margin-bottom: 0.5em;
    font-weight: bolder;

    span {
      font-weight: normal;
    }
  }

  .edit-profile {
    margin-top: 6em;
  }
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}